<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventQuest | <%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <% if (typeof customStylesheet !== 'undefined') { %>
        <link rel="stylesheet" type="text/css" href="<%= customStylesheet %>">
    <% } %>
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <div class="logo">
                <a href="/">EventQuest</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; Nico Diaz 2024</p>
    </footer>
    </div>

    <script src="/public/js/main.js"></script>
</body>
</html>