<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Registration System</title>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; Nico Diaz 2024</p>
    </footer>
    </div>

    <script src="/public/js/main.js"></script>
</body>
</html>