h1, h2 {
    text-align: center;
}

#participants {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

/* Table Styling */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 3vh auto;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 1vw 1vw 0 0;
    overflow: hidden;
    border-bottom: .5vh solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}

th {
    text-align: center;
}

td, th {
    text-align: left;
    padding: 1.5vh;
}

td {
    font-size: .75vw;
    font-size: clamp(0.75rem, 0.482rem + 0.714vw, 1.125rem);
}

button {
    font-size: clamp(0.75rem, 0.482rem + 0.714vw, 1.125rem);
}

tbody tr {
    height: 5vh;
}

tr:nth-child(even) {
    background-color: #ddd;
}

/* Form Styling */
#event-edit form, #event-add form {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2vw;
    width: 40vw;
    margin: 2vh auto;
    box-sizing: border-box;
    text-align: left;
}

label {
    font-size: 1vw;
    margin-bottom: 1vh;
    display: block;
}

input[type="text"], textarea {
    width: 35vw;
    font-size: 1.25vw;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    margin-bottom: 2vh;
}

.flex {
    display: flex;
    justify-content: right;
    margin-top: 2vh;
}

/* ! Fix button styling -> styling from class .btn won't apply here? */
.back {
    margin: 3vh auto;
}