h1 {
    text-align: center;
}


/* Table Styling */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 3vh auto;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 1vw 1vw 0 0;
    overflow: hidden;
    border-bottom: .5vh solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}

td, th {
    text-align: left;
    padding: 1.5vh;
}

td {
    font-size: .75vw;
    font-size: clamp(0.75rem, 0.482rem + 0.714vw, 1.125rem);
}

tbody tr {
    height: 5vh;
}

tr:nth-child(even) {
    background-color: #ddd;
}
