h1 {
    text-align: center;
}

/* Table Styling */
table {
    border-collapse: collapse;
    margin: 3vh auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
    background-color: #333;
    color: #fff;
    border-radius: 1vw;
}

td, th {
    text-align: left;
    padding: 1.5vh;
}

td {
    font-size: .75vw;
    font-size: clamp(0.75rem, 0.482rem + 0.714vw, 1.125rem);
}

tbody tr {
    height: 5vh;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:last-of-type {
    border-bottom: 2px solid #333;
}

tr.active-row {
    font-weight: bold;
    color: #009879;
}