h1, h2 {
    color: #333;
}

/* Hero Section */
.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa;
    padding: 0 5vw;
    text-align: center;
}

.hero h1 {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

.hero p {
    font-size: 1.2vw;
    margin-bottom: 3vh;
    max-width: 70vw;
}

/* Buttons */
.btns {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 3vh;
    width: 100%;
}

.btn {
    font-size: 1vw;
    padding: 1vh .5vw;
    border-radius: 0.3vw;
    flex-basis: 15vw;
    text-align: center;
}

/* Features Section */
.features {
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 5vh 5vw;
    background-color: #fff;
}

.feature {
    flex-basis: 30vw;
    max-width: 30vw;
    text-align: center;
    padding: 3vh 3vw;
    background-color: #f8f9fa;
    border-radius: 1vw;
    box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.1);
}

.feature h2 {
    font-size: 1.8vw;
    margin-bottom: 2vh;
}

.feature p {
    font-size: 1vw;
}