/* Page Header */
h1 {
    text-align: center;
}

/* Event Details Section */
h2 {
    color: #444;
}

h3 {
    color: #333;
}

p {
    color: #666;
}
.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form Styling */
form {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2vw;
    width: 40vw;
    margin: 2vh auto;
    box-sizing: border-box;
    text-align: left;
}

label {
    font-size: 1vw;
    margin-bottom: 1vh;
    display: block;
}

input[type="text"], input[type="email"] {
    width: 35vw;
    font-size: 1.25vw;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    margin-bottom: 2vh;
}

.flex {
    display: flex;
    justify-content: right;
    margin-top: 2vh;
}