<h1>Upcoming Events</h1>

<% if (events.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Register</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(event => { %>
                <tr>
                    <td><%= event.name %></td>
                    <td style="width: 7%;"><%= event.date %></td>
                    <td><%= event.description %></td>
                    <td><a href="/register?event=<%= event.id %>" class="btn">Register</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No upcoming events at this time.</p>
<% } %>
